language: android

jdk: oraclejdk8

android:
  components:
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository

notifications:
  email: false

script:
    - gradle assembleDebug
